
        #logo{
        }

        body{
            background-color: #ebeff5;
        }

        #total_orders{
            background-color: #4cb4c7;
        }
        #orders_delivered{
            background-color: darkcyan;
        }
        #orders-pending{
            background-color: #7CD1C0;
        }
