{% extends 'accounts/main.html' %}
{% block content%}

<br>
<div class="row">
    <div class="col-md-4">
        <div class="card card-body">
        <h5>CUSTOMERS:</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="">Update Customer</a>
            <a class="btn btn-primary btn-sm btn-block" href="{% url 'create_order' customers.id %}">Place New Order</a>
        </div>
        </div>
    </div>

     <div class="col-md-4">
        <div class="card card-body">
            <h5>Contact Information</h5>
            <hr>
            <p>Name: {{customers.name }}</p>
            <p>Phone: {{ customers.phone}}</p>
            <p>Email : {{customers.email}}</p>
        </div>
     </div>

     <div class="col-md-4">
        <div class="card card-body">
            <h5>Total Orders</h5>
            <hr>
            <h1 style="text-align: center; padding: 10px">{{orders_count}}</h1>
        </div>
     </div>
</div>

<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form method="get">
                {{ myFilter.form }}
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col">
        <div class="card card-body">
            <table class="table tabel-sm">
                <tr>
                    <th>Product</th>
                    <th>Note</th>
                    <th>Date Ordered</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
                {% for i in orders %}
                <tr>
                    <td>{{ i.product }}</td>
                    <td>{{ i.note }}</td>
                    <td>{{ i.date_created }}</td>
                    <td>{{ i.status }}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'update_order' i.id %}">Update</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' i.id %}">Delete</a></td>

                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</div>

{% endblock%}
