<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>password reset form</title>
</head>
<body>
<h3>Enter new password</h3>
<p>Please enter your password twice so we can verify you typed it is correctly.</p>
<form method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" name="Update Password">

</form>
</body>
</html>