<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password reset</title>
</head>
<body>
<h3>Password Reset</h3>
<p> Forgotten your Password? Enter your email address below, and we'll email instructions for setting a new one.</p>

<form method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" name="send mail">

</form>
</body>
</html>