{% extends 'accounts/main.html' %}
{% block content %}
{% include 'accounts/status.html' %}

<div class="row">
    <div class="col">
        <div class="card card-body">
            <table class="table tabel-sm">
                <tr>
                    <th>Product</th>
                    <th>Note</th>
                    <th>Date Ordered</th>
                    <th>Status</th>
                </tr>
                {% for i in orders %}
                <tr>
                    <td>{{ i.product }}</td>
                    <td>{{ i.note }}</td>
                    <td>{{ i.date_created }}</td>
                    <td>{{ i.status }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock content %}